{# src/AppBundle/Resources/views/home/index.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block css %}
    {{ parent() }}
   
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }} page</h1>
    
    {% include('AppBundle::forms/feedback.html.twig') %}

{% endblock %}