{# src/AppBundle/Resources/views/blog/blog.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block css %}
    {{ parent() }}
   
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }} page</h1>

    

{% endblock %}