{# src/AppBundle/Resources/views/email/feedbkac-email.html.twig #}

<h1>Hello from {{ feedback.name }}</h1>
<p>{{ feedback.message }}</p>

<a href="mailto:{{ feedback.email }}">{{ feedback.email }}</a>

